<div id="extr-page">

  <header id="header" class="animated fadeInDown">
    <div id="logo-group"></div>

    <span id="extr-page-header-space">
      <span class="hidden-mobile hiddex-xs">Already registered?</span>
      <a routerLink="/sign-in" class="btn btn-danger">Sign In</a>
    </span>

  </header>
  <div id="main" role="main" class="animated fadeInDown">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="well no-padding">

            <form id="smart-form-register" class="smart-form client-form">
              <header> </header>

              <fieldset>
                <section>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="email" name="email" i18n-placeholder placeholder="{{'Email address' | i18n}}">
                    <b class="tooltip tooltip-bottom-right">{{'Needed to verify your account' | i18n}}</b> </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input type="text" name="firstname" i18n-placeholder placeholder="{{'First name' | i18n}}">
                    <b class="tooltip tooltip-bottom-right">{{'Needed to enter the website' | i18n}}</b> </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input type="text" name="lastname" i18n-placeholder placeholder="{{'Last name' | i18n}}">
                    <b class="tooltip tooltip-bottom-right">{{'Needed to enter the website' | i18n}}</b> </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="password" i18n-placeholder placeholder="Password" id="password">
                    <b class="tooltip tooltip-bottom-right">{{"Don't forget your password" | i18n}}</b> </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="passwordConfirm" i18n-placeholder placeholder="Confirm password">
                    <b class="tooltip tooltip-bottom-right">{{"Don't forget your password" | i18n}}</b> </label>
                </section>

                <section>
                  <label class="toggle">
                    <input type="checkbox" name="checkbox-toggle" [checked]="isAdmin" (change)="isAdmin = !isAdmin">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>{{'Admin rights' | i18n}}</label>
                </section>

              </fieldset>

              <footer>
                <button (click)="register()" class="btn btn-primary">Register</button>
              </footer>

            </form>

          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      </div>
    </div>

  </div>

</div>