<div id="extr-page">

  <header id="header" class="animated fadeInDown">
    <div id="logo-group"></div>

    <span id="extr-page-header-space">
      <span class="hidden-mobile hiddex-xs">Already registered?</span>
      <a routerLink="/sign-in" class="btn btn-danger">Sign In</a>
    </span>

  </header>
  <div id="main" role="main" class="animated fadeInDown">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="well no-padding">

            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" id="smart-form-register" class="smart-form client-form">
              <header> Sign Up </header>

              <fieldset>

                <sa-text-box ngModel name="email" type="email" iconClass="fa-envelope"
                  placeHolder="{{'Email address' | i18n}}" 
                  toolTip="{{'Needed to verify your account' | i18n}}"
                  [validationConfig]="emailValidation">
                </sa-text-box>

                <sa-text-box ngModel name="firstname" iconClass="fa-user"
                  placeHolder="{{'First name' | i18n}}" 
                  toolTip="{{'Needed to enter the website' | i18n}}"
                  [validationConfig]="nameValidation">
                </sa-text-box>

                <sa-text-box ngModel name="lastname" iconClass="fa-user"
                  placeHolder="{{'Last name' | i18n}}" 
                  toolTip="{{'Needed to enter the website' | i18n}}"
                  [validationConfig]="nameValidation">
                </sa-text-box>

                <sa-text-box ngModel name="password" type="password" iconClass="fa-lock"
                  required
                  placeHolder="Password"
                  toolTip="{{'Don`t forget your password' | i18n}}">
                </sa-text-box>

                <sa-text-box ngModel name="passwordConfirm" type="password" iconClass="fa-lock"
                  required
                  placeHolder="Confirm Password"
                  toolTip="{{'Confirm password' | i18n}}">
                </sa-text-box>

              </fieldset>

              <footer>
                <button type="submit" 
                [ngClass]="{'disabled': !(loginForm.form.valid && loginForm.form.touched)}" 
                class="btn btn-primary"
                [disabled]="!(loginForm.form.valid && loginForm.form.touched)"
                class="btn btn-primary">Register</button>
              </footer>

            </form>

          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      </div>
    </div>

  </div>

</div>