<div id="extr-page">
  <header id="header" class="animated fadeInDown">
    <div id="logo-group"></div>
    <span id="extr-page-header-space">
      <span class="hidden-mobile hiddex-xs">Need an account?</span>
      <a routerLink="/sign-up" class="btn btn-danger">Create account</a>
    </span>
  </header>

  <div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="well no-padding">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="smart-form client-form">
              <header> Sign In </header>
              <fieldset>

                <label class="label">E-mail</label>
                <sa-text-box ngModel name="email" type="email" iconClass="fa-envelope-o"
                  placeHolder="Enter your email" 
                  toolTip="Please enter email address">
                </sa-text-box>

                <label class="label">Password</label>
                <sa-text-box ngModel name="password" type="password" iconClass="fa-lock"
                  placeHolder="Enter your password"
                  toolTip="Please enter your password">
                </sa-text-box>

                <section>
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked>
                      <i></i>Stay signed in</label>
                  </section>
              </fieldset>

              <footer>
                <button type="submit" 
                  [ngClass]="{'disabled': !(loginForm.form.valid && loginForm.form.touched)}" 
                  class="btn btn-primary"
                  [disabled]="!(loginForm.form.valid && loginForm.form.touched)">
                  Sign in
                </button>
              </footer>

            </form>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

      </div>
    </div>
  </div>
</div>